.container {
    background: black;
    display: inline-block;
    border: 5px solid black;
  }
  .grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    grid-template-columns: repeat(16, 1rem);
    grid-gap: 5px black;
    background: white;
    
  }
  .cell {
     /* center the cell content */
     border: 1px solid  #222;
    
  }