.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
  position: absolute;
  left: 29%;
  top: 10%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(16, 2rem);
  grid-template-rows: repeat(16, 2rem);
  grid-gap: 5px black;
  background: white;
}
.cell {
  /* center the cell content */
  border: 1px solid #222;
}
button {
  position: absolute;
  left: 28%;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  top: 3%;
}

button:hover {
  color: red;
  box-shadow: orangered;
}
body {
  background-color: black;
}
